<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="~{base :: head}">
        <meta charset="UTF-8">
        <title>Clínicas-escola</title>
    <body>
        <div th:replace="~{base :: logo}"></div>
        <div class="container">
            <div class="p-5 bg-primary text-white rounded">
                <h1 class="display-2">Clínicas de Psicologia da RMR</h1>
            </div>
            <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
                <div class="navbar-nav">
                    <a th:classappend="${emergencia} == null ? 'active'" class="nav-item nav-link" href="/home">Todas as clínicas</a>
                    <a th:classappend="${emergencia} == true ? 'active'" class="nav-item nav-link" href="/home/emergencia">Com atendimento emergencial</a>
                </div>
                <a href="/clinica/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Nova clínica</button></a>
            </nav>
            <div class="row">
                <div class="card ps-2 pe-2 pb-2 pt-2 mb-3" style="width: 25rem;" th:each="clinica : ${clinicas}">
                    <div th:with="expr_result = ${clinica.getId() % 2 == 0}">
                        <div class="col" th:if="${expr_result}">
                            <th:block th:switch="${clinica.temAtendimentoEmergencial()}">
                                <div th:case="true" class="card-header alert-danger" th:text="${clinica.nomeClinica}">Nome da clínica</div>
                                <div th:case="false" class="card-header alert-success" th:text="${clinica.nomeClinica}">Nome da clínica</div>
                            </th:block>
                            <div>Endereço: <span th:text="${clinica.endereco}"></span></div>
                            <div>Número de telefone: <span th:text="${clinica.telefone}"></span></div>
                            <div>Abordagem: <span th:text="${clinica.abordagem}"></span></div>
                            <div>Atendimento emergencial: <span th:text="${clinica.temAtendimentoEmergencial}"></span></div>
                            <div>Descrição:</div>
                            <div>
                                <textarea class="form-control" th:text="${clinica.descricao}">descrição da clínica</textarea>
                            </div>
                        </div>
                        <div class="col" th:unless="${expr_result}">
                            <th:block th:switch="${clinica.temAtendimentoEmergencial()}">
                                <div th:case="true" class="card-header alert-danger" th:text="${clinica.nomeClinica}">Nome da clínica</div>
                                <div th:case="false" class="card-header alert-success" th:text="${clinica.nomeClinica}">Nome da clínica</div>
                            </th:block>
                            <div>Endereço: <span th:text="${clinica.endereco}"></span></div>
                            <div>Número de telefone: <span th:text="${clinica.telefone}"></span></div>
                            <div>Abordagem: <span th:text="${clinica.abordagem}"></span></div>
                            <div>Atendimento emergencial: <span th:text="${clinica.temAtendimentoEmergencial}"></span></div>
                            <div>Descrição:</div>
                            <div>
                                <textarea class="form-control" th:text="${clinica.descricao}">descrição da clínica</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>